body{
    background-color: #F7E990;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 24%;
    background-color: #F7E990;
    
    margin:auto;
    border-radius: 10px;
    margin-bottom: 30px;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 80px;
    background-color: red;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin:auto;
    margin-left: 3px;
    margin-right: 3px;
    background: linear-gradient(white,#C6C6C6);
    mask-type: luminance;
    font-size: 8vw;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-style: solid;
    border-width: 1px;
    border-image: radial-gradient(#C7C7C7, white) 0.5;
    
    
}
#nav-left{
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #E3E3E3;
}
#nav-right{
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E3E3E3;
}
.fatherArticle{
    background-color: #FFFFFF;
    height:218%;
    width:100%;
    margin:auto;
    padding: 0.5%;
    max-width: 970px;
}
.fatherArticle1{
    background-color: #FFFFFF;
    height:140%;
    width:100%;
    margin:auto;
    padding: 0.5%;
    max-width: 1080px;
}
.fatherArticle2{
    background-color: #FFFFFF;
    height:75%;
    width:100%;
    margin:auto;
    padding: 0.5%;
    max-width: 970px;
}
.articleTitle{
    height:3%;
    width:95%;
    margin:auto;
    background-color:#E1D1C1;
    justify-content: center;
    text-align: left;
    align-content: center;
    align-items: center;
    
    padding-top:1%;
    margin-top: 1.5%;
    padding-left: 2%;
    font-size: 75%;
    padding-bottom: 3%;
}
#parrafoAutor{
    margin-left: 65px;
    color: #606B61;
    font-weight: bolder;
    line-height:  22px;
    margin-top: 40px;
    margin-right: 55px;
    text-indent: 0%;
    font-size: 65%;
}
p{
    text-indent: 4%;
    line-height: 150%;
    font-size: 72.5%;
    margin-left: 20px;
    margin-right: 10px;
}
article{
    height: 100%;
    width: 100%;
    background-color: white;
}
#title{
    padding: 0%;
    padding-top: 2%;
    color: black;
    font-size: 28px;
}
h1{
    padding-left: 20px;
    margin:auto;
    color: #663800;
    padding-top: 30px;
}
.contenedor{
    width: 80%;
    height: 100%;
    
    max-width: 970px;
    
    margin: 0px auto; /*centramos el contenido horizontalmente*/
    background-color: white;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    line-height: 1.75;
    font-family:Arial, Helvetica, sans-serif;
    font-style: bolder;
}
.articleUL{
    
    
    list-style-type: none;
    border-left: 3px solid #6A4915;
    font-size: 75%;
    margin-left: 10%;
    width:400px;
    margin-top: 3%;
    margin-bottom:3%;
}
hr{
    border:none;
    
    border-top: 3px dashed #663800;  
    margin:auto;
    margin-left: 20px;
    
}
#textBox{
    border-left: 4px solid rgba(100, 97, 97, 0.384);
    
    border-right: 4px solid rgba(100, 97, 97, 0.384);
    width:700px;
    height: 8vh;
    margin-left: 10%;
    
    padding: 20px;
    font-size: 75%;
    text-indent: 0;
}
.articleTextboxQ{
    quotes: "“" "”" "‘" "’";
}
.articleTextboxQ::before {
    content: open-quote;
    font-size: 3em; /* Tamaño de las comillas */
    color: black; /* Color de las comillas */
    vertical-align: middle;
    position: relative;
    top: 0.2em; /* Ajusta la posición hacia abajo */
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.articleTextboxQ::after {
    content: close-quote;
    font-size: 3em;
    color: black;
    vertical-align: middle;
    position: relative;
    top: 0.2em; /* Ajusta la posición hacia abajo */
    padding-right: 10px;
    padding-left: 10px;
    font-style: italic;
    
}
a{
    
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin:auto;
    margin-left: 3px;
    margin-right: 3px;
}
.articleLink{
    text-decoration: underline overline;
    color: blue;
}
#letter{
    margin: auto;
    display:block;
    
}
.imgFooter{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.articleOL{
    
    margin-left: 0;
    padding-left: 40px;
    text-align: left;
}
.articleOL a{
    color: #663800;
    font-weight: 700;
}

h2{
    color: #663800;
    text-align: left;
    font-size: 1.1em;
    margin-left: 0;
    padding-left: 0px;
    
}
.knowMore{
    border: 1px solid #6A4915;
    margin-left: 200px;
    margin-right:200px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
}
footer{
    padding-left: 250px;
    padding-right: 343px;

}
#autor{
    float: left;
    padding-right: 40px;
    padding-left: 100px;
    padding-bottom: 50px;
}
h3{
    padding-left: 215px;
}
.articleFooter{
    text-indent: 0px;
}
#techniquesTitle{
    color: black;
    text-align: right;
    font-size: 1.5vw;
    padding-right: 10px;
}
#Kuniavsky{
    
    border: none;
    font-size: 75%;
    margin-left: 10%;
    width:700px;
    margin-top: 3%;
    margin-bottom:3%;
    list-style: none;
    padding-left: 100px;
    margin-right: 100px;
    
}
#Kuniavsky li{
    list-style-image: url('../img/check-icono.png');
    padding-top: 10px;
}

.techniques{
    padding-left: 50px;
    text-decoration: underline dotted 4px;
}
.techniquesP{
    text-indent: 4%;
    line-height: 150%;
    font-size: 72.5%;
    margin-left: 20px;
    margin-right: 40px;
    padding-left: 75px;
}
.techniquesFooter{
    text-align: center;
}

.techniquesFooter a{
    text-decoration: none;
    color: #663800;
    font-style: italic;
}
.resourcesTitle{
    font-size: 125%;
    color: black;
}
.checkIcon{
    margin-right: 25px;
}
.resUL li{
    
    list-style-image: url('../img/usabilidad-icono.png');
    padding-left: 20px;
}
.resourcesOL{
    font-size: 80%;
    padding-left: 100px;
    
}
.resourcesOL li{
    padding-top: 10px;
    
}
.resourcesOL a{
    color:#663800;
}
.resourcesRevistas{
    border: 2px solid #F5EA8E;
    margin:auto;
    padding-top: 50px;
    padding-bottom:50px;
    margin-right: 200px;
    font-size: 80%;
}
.resourcesRevistas ul li{

    padding-left: 10px;
}

.resourcesLibros{
    border: 2px solid #F5EA8E;
    padding-top: 50px;
    padding-bottom:50px;
    margin-right: 200px;
    margin-top:50px;
    list-style:square;
    
    font-size: 80%;
}
.resourcesLibros li{
    padding-left: 10px;
    
}
.resFooter{
    text-align: center;
}
.resFooter a{
    color:#663800;
    font-style: italic;
    font-size:80%;
}
em{
    color: #663800;
    font-style: normal;
    font-weight: 700;
}
.techniquesEM{
    color:black;
}
u{
    text-decoration: underline dotted;
}
.fatherArticle q{
    font-style: italic;
}
